@font-face {
  font-family: whatpump;
  src: url(./assets/whatpumkinlowerc.ttf);
}

body {
  background-color: #dddddd;
  padding-top: 8px;

  font-family: verdana, arial, helvetica, sans-serif;
  color: #2c3e49;
  font-size: 11px;
}

#main {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 1px 0;
  font-size: 10pt;
}

/* == */
 
#topnav {
  padding: 0px 5px;
  height: 20px;
  margin-bottom: 6px;
  margin-top: 4px;
  font-size: 11px;
}

/* == */

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 158px;
}

/* == */

#description {
  background-color: #f0efef;
  min-height: 150px;
  text-indent: 30px;
}

#description h4 {
  color: #893393;
}

#description p {
  padding-left: 30px;
  padding-right: 100px;
}

#description::before {
  content: "";
  display: block;
  background-color: #9c9c9c;
  height: 20px;
  border-radius: 0px 0px 12px 12px / 0px 0px 15px 15px;
}

#description::after {
  font-family: whatpump;
  content: "check this stuff";
  color: white;
  line-height: 30px;
  font-size: 26px;
  text-indent: 15px;

  display: block;
  background-color: #aa11bb;
  height: 20px;
  margin-top: 40px;
  border-radius: 10px 10px 0 0;
}

/* == */

#products {
  width: 740px;
  margin: 30px auto 15px;

  display: flex;
  flex-wrap: wrap;
  gap: 60px 0;
}

#products .item {
  width: 25%;
  box-sizing: border-box;
}

#products .item  {
  font-size: 12px;  
  font-weight: bold;
  text-decoration: none;
  color: #00c0ff;
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#products .item .name {
  text-decoration: underline;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#products .item img {
  display: block;
  margin: 5px auto 10px;
  max-width: 120px;
  max-height: 155px;
}

.btn {
  height: 30px;
  display: block;
  line-height: 30px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-size: 11pt;
  text-transform: uppercase;
  text-align: center;

  background-color: #aa11bb;
  box-shadow: 6px 4px #840a91;
}

.btn:hover {
  filter: saturate(1.25);
}

.navOpt img:hover {
	filter: drop-shadow(0 0 0.75rem purple);
}

#pagebox {
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
font-size: 17pt;
font-family: "Courier New";
font-weight: bold;
}
#pagebox p {
	margin: 25px;
	color: blue;
}
#pagebox p:hover{
	color: black;	
}
#reset p{
	color: blue;
	text-decoration-line: underline;
	margin: 10px;
}
#reset p:hover{
	color: black;
}
/* == */

#footer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-size: 10pt;
}

#footer::before {
  content: "";
  display: block;
  background-color: #aa11bb;
  height: 20px;
  border-radius: 0px 0px 12px 12px / 0px 0px 15px 15px;
}

/* lightbox */
#lightbox {
	position: fixed;	
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
#outerLB {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8
}
#innerLB {
	position: fixed;
	width: 80%;
	background-color: #f0efef;
	border-radius: 15px;
	max-height: 90%;
	overflow: scroll;
	display: flex;
	flex-direction: column;
}
#prodBox {
	display: flex;
	flex-direction: row;	
}
#prodImg {
	max-height: 750px;
	max-width: 1350px;
	margin: auto;
	position: relative;
	justify-content: center;
}
.lbArrow {
	margin: 350px 10px 350px 10px;
	height: 50px;
	filter: invert(61%) sepia(0%) saturate(1%) hue-rotate(225deg) brightness(94%) contrast(90%);
}
.lbArrow:hover {
	filter: invert(0%);
}

#prodName {
	margin-left: 10px;
}
.fancybox {
	max-width: 90%;

	border: solid 4px #d5d5d2;
	border-radius: 30px;

	margin: 7px auto;
	padding: 7px;
	
	display: flex;
	justify-content: left;
	align-items: center;

	background: linear-gradient(#ffffff, #dddddb);
}
.fancytext {
	margin: 10px;
	font-size: 15px;
}
.fancyicon {
	border-style: solid;
	border-width: 2px;
	border-radius: 30px;
	border-color: #d5d5d2;
	height: 200px;
}
#lbNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#lbClose img{
	max-height: 50px;
	margin: 5px;
}
#lbClose img:hover {
	filter: invert(18%) sepia(75%) saturate(5097%) hue-rotate(352deg) brightness(85%) contrast(111%);
}
#carousel {
	display:flex;
	flex-direction: row;
	height: 100px;
	justify-content: center;
}
#carousel img {
	margin: 5px; 
	border: 2px;
	border-color: #d5d5d2;
	border-radius: 5px;
	
	height: 75px;
	width: 75px;
	border-style: solid;
}
#nameArtist {
	display: flex;
	flex-direction: row;
}
#anthName {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
