@font-face {
	font-family: typostuck;
	src: url("./assets/TYPOSTUCK.ttf");
}

body {
	background-image: url("./assets/captchabackground.png");
	background-color: #434343;
	image-rendering: crisp-edges;
	background-size: 25%;
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 964px;
}

/* HEADER */

header {
	background-color: #efefef;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	border-style: solid;
	border-width: 0px 7px 7px 7px;
	border-color: #c6c6c6;
}

#headerImage {
	max-width: 100%;
}

#banner {
	position: relative;
	background-image: url(./assets/bannerframe.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#frame {
	max-width: 100%;
}

#ad {
	width: 77%;
}

#ad img {
	width: 100%;
}

/* NAV */

nav {
	background-color: #5a5a5a;
	color: white;
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 2px;
}

.divider {
	padding-left:  6px;
	padding-right: 6px;
	margin-bottom: -0.5em;
}

/* CONTENT */

.box {
	background-color: #eeeeee;
	border: solid 7px #c6c6c6;
	margin-top: 7px;
	text-align: center;
}

.row {
	display: flex;
	margin-top: 7px;
	gap: 7px;
	min-height: 450px;
}

.mainContent {
	background-color: #eeeeee;
	border: solid 7px #c6c6c6;
	flex-grow: 1;
}

.sideContent {
	background-color: #c6c6c6;
	border: solid 7px #efefef;
	min-width: 200px;
	width: 30%;
}

.head {
	font-family: typostuck;
	text-align: center;
	filter: drop-shadow(5px 2px 0px var(--shadow));
	font-size: 45px;
	padding: 0px;
	margin: 10px;
	max-height: 100px;

	--shadow: #f2a400;
}

.orangedrop {
	--shadow: #f2a400;
}
.greendrop {
	--shadow: #24ff49;
}
.yellowdrop {
	--shadow: #f7f725;
}

footer {
	background-color: #efefef;
	margin-top: 7px;
	margin-bottom: -7px;
	border-style: solid;
	border-width: 7px 7px 7px 7px;
	border-color: #c6c6c6;
	width: 950;
	top: 7px;
	height: 61px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footerImage {
	margin: 0px;
	height: 48px;
	width: 450px;
}

/* MAIN ROW 1 */

#buttonlist { /* Buttons take up the whole of #buttonlist */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	height: 440px;
}

.button {
	width: 100%;
	min-width: max-content;
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-radius: 30px;
	font-family: typostuck;
	margin: 7px 7px 7px 7px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px;

	--aspect1: #ff2106;
	--aspect2: #b80d0e;
	--aspectBorder: #510506; 

	border-color: var(--aspectBorder);
	background-image: linear-gradient(var(--aspect1), var(--aspect2));
	background-repeat: no-repeat;
}

.button:hover {
	background-image: linear-gradient(var(--aspect2), var(--aspect1));
	color: #ffffff;
}

.button h1 {
  margin: 0;
}

.time {
	--aspect1: #ff2106;
	--aspect2: #b80d0e;
	--aspectBorder: #510506; 
}
.light{
	--aspect1: #f7fb4e;
	--aspect2: #f98100;
	--aspectBorder: #fa4700; 
}
.breath {
	--aspect1: #10e0ff;
	--aspect2: #0086eb;
	--aspectBorder: #0052f2; 
}
.space  {
	--aspect1: #ffffff;
	--aspect2: #000000;
	--aspectBorder: #2f2f30; 
}
.mind {
	--aspect1: #4cfbc4;
	--aspect2: #50b250;
	--aspectBorder: #3e6b1e; 
}

#mainp {
	margin-top: 0px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

/* MAIN ROW 2 */

#blog {
	text-align: center;
}

#blogcontent {
	width: 100%;
	height: 80%;
}

#links {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

#linklist {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

#linklist p {
	width: 100%;
	font-weight: 600;
}

/* WEBRING */

.window {
	margin-top: 7px;
	padding: 7px;
	padding-top: 0;
	background-color: #4be24f;
}

.windowHeader {
	font-family: typostuck;
	color: white;
	display:flex;
	flex-direction: row;
	font-size: 25px;

	padding-top: 5px;
	padding-left: 35px;

	background-image: url(./assets/sburbwhite.svg), url(./assets/x-mark.png);
	background-position: center left, center right;
	background-repeat: no-repeat;
	background-size: auto 80%, auto 60%;
}

#webring {
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

#skaia {
	height: 75px;
	width: 75px;
	animation: spin 30s linear infinite;
}

.spiro {
	height: 50px;
	width: 50px;
	margin: 10px;
}

@keyframes spin { 0% {  transform: rotateZ(0); } 100% {  transform: rotateZ(360deg); }}

/* BEYOND */

.fancybox {
	width: 90%;

	border: solid 4px #d5d5d2;
	border-radius: 30px;

	margin: 7px auto;
	padding: 7px;
	
	display: flex;
	justify-content: left;
	align-items: top;

	background: linear-gradient(#ffffff, #dddddb);
}

.workicon {
	border-style: solid;
	border-width: 2px;
	border-radius: 30px;
	border-color: #4be24f;
	height: 200px;
	width: 200px;
}

.fboxcontent {
	flex-grow: 1;
	text-align: left;
	padding: 7px;
}

.worktitle {
	font-family: typostuck;
	margin: 0;
}
